<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css" />
    </head>
    <style>
        body {
            background-image: url("background.jpg");
        }
    </style>
    <body>
            {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
