{% extends 'default.html.twig' %}

{% block body %}
    <h2 class="page-header">Edytuj Wydarzenie</h2>
    {{ form_start(formTodo) }}
    {{ form_widget(formTodo) }}
    {{ form_end(formTodo) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
