
{% extends 'default.html.twig' %}

{% block body %}
    <h2 class="page-header">Dodaj Notatkę</h2>
    {{ form_start(formNotes) }}
    {{ form_widget(formNotes) }}
    {{ form_end(formNotes)}}
{% endblock %}

{% block stylesheets %}

{% endblock %}
